@font-face {
  src: url('/fonts/lato.css');
  font-family: 'Lato, Helvetica, Arial, sans-serif';
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -104px; /*set to a negative number 1/2 of your height*/
  margin-left: -80px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #585AFA;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
