/* * * * * * * * * * * * * * *
ALL VARIABLE & MIXING
* * * * * * * * * * * * * * */
// @import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

// @isoFontFamily: 'Roboto', sans-serif;
// @isoFontSize: 14px;

@primaryColor: #585AFA;
@fontColorGrey: #4A4A4A;

/****** Media screen size *****/
@sm-min: 576px;
@md-min: 768px;
@lg-min: 992px;
@xl-min: 1200px;
@xxl-min: 1600px;

@xs-max: (@sm-min - 1); // 575px
@sm-max: (@md-min - 1); // 767px
@md-max: (@lg-min - 1); // 991px
@lg-max: (@xl-min - 1); // 1199px
@xl-max: (@xxl-min - 1); // 1599px

@phone:          ~"only screen and (max-width: @{sm-max})";
@tablet:         ~"only screen and (min-width: @{md-min})";
@tablet-strict:  ~"only screen and (min-width: @{md-min}) and (max-width: @{md-max})";
@desktop:        ~"only screen and (min-width: @{lg-min})";
@desktop-strict: ~"only screen and (min-width: @{lg-min}) and (max-width: @{lg-max})";
@xl:          ~"only screen and (min-width: @{xl-min})";
@xl-strict:  ~"only screen and (min-width: @{xl-min}) and (max-width: @{xl-max})";
@xxl:            ~"only screen and (min-width: @{xxl-min})";

// Basic font size
body{
	font-size: 16px;
}

// Remove <a> underline
a, a:hover{
	text-decoration: none;
}

