@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,500,700');
@import url('//at.alicdn.com/t/font_580156_tbd90mgoqhb8olxr.css');

/****** Basic global styles *****/

body{
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

a, a:hover{
	color: #666666;
	text-decoration: none;
}
