    .cancel-ant-layout-header {
      margin-left: -50px;
      margin-right: -50px;
    }

    .horizontalWrapper {

      margin-left: auto;
      margin-right: auto;

      @media @phone {
        padding-left: 16px;
        padding-right: 16px;
      }
      @media @tablet-strict {
        padding-left: 24px;
        padding-right: 24px;
      }

      @media @desktop-strict {
        max-width: 940px;
        padding-left: 0px;
        padding-right: 0px;
      }

      @media @xl {
        max-width: 80%;
        padding-left: 0px;
        padding-right: 0px;
      }

      @media @xxl {
        max-width: 65%;
        padding-left: 0px;
        padding-right: 0px;
      }
    }

    .tabBtnGroup {
      width: 100%;
      padding-bottom: 40px;

      button {
        height: 44px;
        padding: 12px 16px;
        text-align: center;
        font-size: 16px;
        color: @fontColorGrey;
      }

      .viewBtnGroup {
        button {
          margin-right: 24px;
        }
      }
      .controlBtnGroup {
        text-align: right;
      }
    }